= form_for(@activity_set) do |f|
  - if @activity_set.errors.any?
    #error_explanation
      %h2
        = pluralize(@activity_set.errors.count, "error")
        prohibited this activity_set from being saved:
      %ul
        - @activity_set.errors.full_messages.each do |msg|
          %li= msg
  - for activity in Activity.find(:all)
    %div.clearfix.switch-wrap
      .switch{:data => {:on => "success", :off => "danger", :on_label => "yes", :off_label => "no"}}
        = check_box_tag "activity_set[activity_ids][]", activity.id, @activity_set.activities.include?(activity)
      %h4.switch-label
        Today I
        = activity.name + "."
  .actions
    = f.submit "Record"